button{
<<<<<<< HEAD
    background-color: red;
}

button:hover{
    padding: 15px;
    
}

.personagens button{
    box-shadow: "0 0 100px white, 0 0 160px white, 0 0 240px white";
    background-color: red;
    margin: 10px;
    width: 200px ;
    height: 230px;
    display: flex;
    justify-content: center;
    border: 4px solid white;
    border-bottom: 20px solid white;
   
   
}
p{
    font-weight: bolder;
=======
   
    margin: 10px;
    padding: 0;
    border: 10px solid ;
    border-bottom: 30px solid;
    border-radius: 0;
>>>>>>> b2f603577eddd2532202de93d35e4d4da68f9289
}

#imagem{
    width: 500px;
    height: auto;
}

<<<<<<< HEAD
.personagens{
    width: 120%;
    display: flex;
    flex-wrap: wrap;
    
}
=======
#modo{
    width: 150px;
    height: 40px;
    border: 2px solid;
    border-radius: 10px;
}

>>>>>>> b2f603577eddd2532202de93d35e4d4da68f9289
